
@model proyecto_dpwa.Models.producto

@{
    ViewBag.Title = "EliminarProductos";
}
<script>
$(document).ready(function () {
 ///BOTON ELIMINAR
 $("#btnEliminar").on("click", function () {
 var formulario = $("#formEliminar");
 if (confirm("Desea eliminar el registro??")) {
 $.ajax({
 url: "@Url.Action("EliminarProductos","Productos")",
 type: "POST",
cache: false,
data: formulario.serialize()
 }).done(function (respuesta) {
 alert(respuesta);
 });
</script>
<main class="my-5">
    <div class="container">
        <div class="row">
            <h2>Eliminar Productos</h2>
                @using (Html.BeginForm("EliminarProductos", "Productos", FormMethod.Post, 
                    htmlAttributes: new { id = "formEliminar" }))
            {
                            @Html.AntiForgeryToken()
                            <div class="form-horizontal">
                    <hr />
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-group">
                        <div class="col-md-10">
                            @Html.HiddenFor(model => model.id, new { htmlAttributes = new { @class = "form-control" } })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.descripcion, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.descripcion, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.descripcion, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.precio, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.precio, new { htmlAttributes = new { @class = "form-control" } })   
                        </div>
                    </div>
                    <br>
                    <div class="form-group">
                        <div class="col-md-10">
                            <select id="comboParametro" class="form-control">
                                <option value="">Seleccione una categoria</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-10">
                             <img width="100" height="100" src="@Url.Content("~/images/"+Model.imagenes)" />
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input id="btnEliminar" type="submit" value="Delete" class="btn btn-default" />
                        </div>
                    </div>
                </div>}
            <div>
                @Html.ActionLink("Regresar", "LeerProductos")
            </div>
        </div>
    </div>
</main>