@model proyecto_dpwa.Models.producto
@{
    ViewBag.Title = "InsertarProductos";
}
<script>
$(document).ready(function () {
    cargarCombo();
});
function cargarCombo() {
$.ajax({ url: "@Url.Action("GetCategoria", "Categoria")",
dataType: "JSON",
type:"GET"
}).done(function (resp) {
console.log(resp);
var data = JSON.parse(JSON.stringify(resp));
var opciones = "";
for (i = 0; i < data.resultado.length; i++) {
    opciones += "<option value='" + data.resultado[i] + "'>" + data.resultado[i] + "</option>";
   
}
$("#comboParametro").append(opciones);
}).fail(function () {
console.log("error");
});
}
</script>
<main class="my-5">
    <div class="container">
        <div class="row">
            <h2>Insertar Productos</h2>
            @using (Html.BeginForm("InsertarProductos", "Productos", FormMethod.Post,
                                new { enctype = "multipart/form-data" }))
            {
                @Html.AntiForgeryToken()
                <div class="form-horizontal">
                    <hr />
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-group">
                        <div class="col-md-10">
                            @Html.HiddenFor(model => model.id, new { htmlAttributes = new { @class = "form-control" } })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.descripcion, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.descripcion, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.descripcion, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.precio, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.precio, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.precio, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <br>
                    <div class="form-group">
                        <div class="col-md-10">
                            <select id="comboParametro" class="form-control">
                                <option value="">Seleccione una categoria</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-10">
                            <fieldset>
                                <label for="Image">Imagen</label>
                                <input class="form-control" type="file" name="file" id="file" />
                                <br />
                            </fieldset>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Create" class="btn btn-default" />
                        </div>
                    </div>
                </div>}
            <div>
                @Html.ActionLink("Regresar", "LeerProductos")
            </div>
        </div>
    </div>
</main>



